@font-face {
  font-family: 'gotham_pro';
  src: url('../fonts/gothampro.OTF');
}

@font-face {
  font-family: 'gotham_pro_bold';
  src: url('../fonts/gothamprobold.OTF');
}

@font-face {
  font-family: 'gotham_pro_med';
  src: url('../fonts/gothamprobold.OTF');
}

@font-face {
  font-family: 'gotham_pro_light';
  src: url('../fonts/gothamlight.OTF');
}