.form {
  display: block;
  background: $transparent;
  input {
    display: block;
    width: 100%;
    border: 1px solid $filedBorderColor;
    height: 23px;
    margin-bottom: 15px;
    @include transition(all 0.3s);
  }
  input, textarea {
    width: 100%;
    border-radius: $baseFieldBorderRadius;
    &:hover {
      border-color: $baseColor;
    }
  }
  .form-control {
    background: $transparent;
    border: none;
    label {
      font-size: 0.8rem;
    }
  }
  h3.form__heading {
    font-size: 1.5rem;
  }
}

.order_form_compact {
  width: 400px;
  //height: 300px;
  background: $baseColor;
  color: $white;
  border-radius: 12px;
  padding: 35px;
  @include marginAlign();
  .block__about {
    text-align: center;
    p {
      font-size: 0.9rem;
      font-weight: 800;
    }
  }
  .form {
    .form-control {
      text-align: center;
      padding-left: 0;
      padding-right: 0;
      label {
        font-size: 0.7rem;
        color: $white;
      }
    }
    .button {
      padding: 6px 0;
    }
  }
}