.form {
  display: block;
  background: $transparent;
  input {
    display: block;
    width: 100%;
    border: 1px solid $filedBorderColor;
    height: 23px;
    margin-bottom: 15px;
    @include transition(all 0.3s);
  }
  input, textarea {
    width: 100%;
    border-radius: $baseFieldBorderRadius;
    &:hover {
      border-color: $baseColor;
    }
  }
  .form-control {
    background: $transparent;
    border: none;
    label {
      font-size: 0.8rem;
    }
  }
}