header {
  color: $white;
  background: $baseColor;
  //height: 300px;
  padding: 50px 0;
  .header__logo {
    .page_title {
      padding-left: 3rem;
      h3 {
        margin-bottom: 0.6rem;
      }
      &.strategy {
        padding-left: 2rem;
        padding-top: 17px;
      }
    }
  }
  .header__egg {
    p {
      margin: 0;
      font-size: 1.1rem;
    }
  }
  .header__contact {
    .phone_number {
      margin-bottom: 0.7rem;
      font-size: 1rem;
      h4 {
        &:first-child {
          margin-bottom: 0.3rem;
        }
       }
      p {
        margin-bottom: 0;
      }
    }
    .work_time {
      margin-bottom: 2rem;
      font-size: 1.1rem;
    }
  }
}