.icon_mini {
  .icon_list {
    .icon {
      img {
        max-width: 48px;
      }
    }
    .text {
      span {
        font-size: 1.3rem;
        font-weight: 600;
      }
    }
    .button {
      margin-top: 5px;
    }
  }
}