ol, ul {
  padding-left: 1rem;
  line-height: 1.7rem;
  &.not_marker {
    list-style: none;
  }
}

.decor_number_list {
  @include clearfix();
  .number {
    float: left;
    width: 5%;
    span {
      font-size: 2rem;
      line-height: 1;
      color: $baseColorSecondTone;
      font-weight: 600;
    }
  }
  .text {
    float: left;
    width: 95%;
    padding-left: 15px;
    p {
      font-size: $smallFontSize;
      line-height: 1.7;
      font-weight: 600;
    }
  }
}

.analize_list {
  list-style: none;
  background: url('../images/list_analizy.png') no-repeat left center;
  padding-top: 0;
  padding-bottom: 0;
  margin-bottom: 0;
  line-height: 2.5rem;
  padding-left: 35px;
}

.base_color_marker {
  list-style: none;
  padding-left: 0;
  li {
    line-height: 2.4rem;
    &::before {
      content: '';
      display: inline-block;
      width: 5px;
      height: 5px;
      background: $baseColor;
      border-radius: 100%;
      vertical-align: middle;
      margin-right: 13px;
    }
  }
}