@mixin marginAlign() {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

@mixin fillingHover($background: $baseColor, $color: $white) {
  @include transition();
  &:hover {
    background: $baseColor;
    color: $color;
    border-color: $background;
    text-decoration: none;
  }
}

@mixin lightHover($color: $baseColor) {
  @include transition();
  &:hover {
    background: lighten($color, 5%);
    text-decoration: none;
  }
}

@mixin darkHover($color: $baseColor) {
  @include transition();
  &:hover {
    background: darken($color, 6%);
    text-decoration: none;
  }
}

@mixin shadowHover() {
  @include transition();
  &:hover {
    box-shadow: 0 11px 23px rgba(0,0,0,0.25), 0 5px 5px rgba(0,0,0,0.22);
    text-decoration: none;
  }
}

@mixin transition($prop: all 0.2s) {
  transition: $prop;
}

@mixin clearfix() {
  &::after {
    content: '';
    display: table;
    clear: both;
  }
}

@mixin webkitApereance($prop) {
    -webkit-appearance: $prop;
}