.ya_direct {
  .promo__about {
    padding-right: 11rem;
    .ya_logo {
      margin-bottom: 40px;
    }
  }
  .promo__form {
    padding: 25px 3rem;
    border: 2px solid $baseColorSecondTone;
    border-radius: 12px;
    max-height: 405px;
    .form {
      .form__heading, .form__subheading {
          color: $baseColorSecondTone;
      }
      .form__subheading {
        font-size: 1.1rem;
      }
      .decor_number_list {
        margin-top: 20px;
      }
      form {
        button {
          padding: 5px 0;
          span {
            display: block;
            font-size: 0.7rem;
            &:last-child {
              text-transform: lowercase;
              line-height: 1;
            }
          }
        }
      }
    }
  }
}

.target_services {
  .services__list {
    margin-bottom: 70px;
  }
}

.prices {
  .form__heading, .form__subheading {
    text-align: center;
  }
  .form__heading {
    margin-bottom: 25px;
  }
    .form__subheading {
      margin-bottom: 25px;
    }
  .form__subheading {
    h3 {
      font-weight: 300;
    }
  }
  .prices__table {
    margin-top: 40px;
  }
}

.garant {
  background: $baseColor;
  padding: 40px 0;
  color: $white;
  .garant__item {
    padding: 0 5px;
    .title {
      margin-bottom: 25px;
      span {
        font-size: 1.1rem;
        font-family: $boldFont;
      }
    }
  }
}

.free_services {
  .services__item {
    margin-bottom: 80px;
    .title {
      height: auto;
      padding: 0 5.2rem;
      span {
        font-size: 1.1rem;
      }
    }
    .text {
      font-size: 1rem;
      padding: 0 4rem;
      height: 65px;
      margin-bottom: 25px;
    }
    .icon {
      margin-top: 25px;
    }
    .action_button {
      button {
        width: 200px;
        font-size: 0.5rem;
        padding: 3px 0;
        @include marginAlign();
      }
    }
  }
}

.order_form {
  .form_container {
    padding-right: 8.5%;
    .form {
      padding: 30px 35px;
      background: $baseColor;
      color: $white;
      border-radius: 12px;
      label {
        color: $white;
      }
      input {
        margin-bottom: 0;
      };
      .form__heading {
        margin-bottom: 25px;
      }
      .form__about {
        p {
          font-size: 0.9rem;
        }
      }
      .button {
        padding: 10px 0;
      }
    }
  }
  .block__heading {
    text-align: left;
  }
  .block__subheading {
    text-align: left;
  }
}
.how_work {
  .how_work_list {
    .icon {
      width: 130px;
      height: 130px;
      margin-bottom: 20px;
      h3 {
        margin: 0;
        color: $baseColor;
        text-align: center;
        text-transform: lowercase;
      }
    }
    .text {
      padding: 0 1rem;
      p {
        margin-bottom: 0;
      }
    }
    .item {
      margin-bottom: 95px;
    }
  }
}
