.sprite {
  background-image: url('../images/logo_sprite.png');
  background-repeat: no-repeat;
  display: block;
}

.sprite-cart {
  width: 87px;
  height: 87px;
  background-position: -5px -5px;
}

.sprite-google_adwords {
  width: 114px;
  height: 57px;
  background-position: -102px -5px;
}

.sprite-graf {
  width: 77px;
  height: 83px;
  background-position: -226px -5px;
}

.sprite-infobuisnes {
  width: 83px;
  height: 75px;
  background-position: -102px -72px;
}

.sprite-lend {
  width: 72px;
  height: 86px;
  background-position: -195px -98px;
}

.sprite-services {
  width: 84px;
  height: 77px;
  background-position: -5px -194px;
}

.sprite-target_fb {
  width: 91px;
  height: 89px;
  background-position: -99px -194px;
}

.sprite-target_my_com {
  width: 116px;
  height: 69px;
  background-position: -313px -5px;
}

.sprite-target_vk {
  width: 90px;
  height: 91px;
  background-position: -313px -84px;
}

.sprite-wooman_food {
  width: 86px;
  height: 70px;
  background-position: -277px -185px;
}

.sprite-ya_direct {
  width: 108px;
  height: 67px;
  background-position: -200px -265px;
}
