.sprite {
  background-image: url('../images/new_logo_sprite.png');
  background-repeat: no-repeat;
  display: block;
}

.sprite-cart {
  width: 67px;
  height: 67px;
  background-position: -5px -5px;
}

.sprite-google_adwords {
  width: 101px;
  height: 50px;
  background-position: -82px -5px;
}

.sprite-graf {
  width: 70px;
  height: 76px;
  background-position: -193px -5px;
}

.sprite-graf_cube {
  width: 69px;
  height: 69px;
  background-position: -5px -91px;
}

.sprite-infobuises {
  width: 63px;
  height: 56px;
  background-position: -84px -91px;
}

.sprite-lend {
  width: 62px;
  height: 73px;
  background-position: -157px -91px;
}

.sprite-services {
  width: 82px;
  height: 81px;
  background-position: -5px -174px;
}

.sprite-target_fb {
  width: 93px;
  height: 92px;
  background-position: -97px -174px;
}

.sprite-target_my_com {
  width: 108px;
  height: 64px;
  background-position: -273px -5px;
}

.sprite-target_vk {
  width: 78px;
  height: 74px;
  background-position: -273px -79px;
}

.sprite-wooman_food {
  width: 72px;
  height: 58px;
  background-position: -229px -163px;
}

.sprite-ya_direct {
  width: 94px;
  height: 58px;
  background-position: -200px -231px;
}


.sprite_clients {
  background-image: url('../images/sprite_clients.png');
  background-repeat: no-repeat;
  display: block;
}

.sprite_clients-balt {
  width: 97px;
  height: 67px;
  background-position: -5px -5px;
}

.sprite_clients-cds {
  width: 147px;
  height: 35px;
  background-position: -112px -5px;
}

.sprite_clients-fazer {
  width: 81px;
  height: 82px;
  background-position: -112px -50px;
}

.sprite_clients-happy_cat {
  width: 72px;
  height: 67px;
  background-position: -203px -50px;
}

.sprite_clients-ig {
  width: 59px;
  height: 75px;
  background-position: -5px -127px;
}

.sprite_clients-jur {
  width: 91px;
  height: 92px;
  background-position: -203px -127px;
}

.sprite_clients-lsm {
  width: 195px;
  height: 62px;
  background-position: -5px -229px;
}

.sprite_clients-nevskii {
  width: 147px;
  height: 61px;
  background-position: -285px -5px;
}

.sprite_clients-orange_bank {
  width: 81px;
  height: 81px;
  background-position: -304px -76px;
}

.sprite_clients-petroholod {
  width: 104px;
  height: 80px;
  background-position: -304px -167px;
}

.sprite_clients-tricolor {
  width: 105px;
  height: 77px;
  background-position: -210px -257px;
}

.sprite_clients-vash_arhive {
  width: 175px;
  height: 37px;
  background-position: -5px -344px;
}

