html {
  font-size: $baseFontSize;
}
body {
  font-family: $baseFont;
  color: $baseTextColor;
  font-size: 1rem;
  line-height: $baseLineHeight;
}

p, a, span, li {
  font-size: 1rem;
  font-weight: 100;
}

h1 {
  font-size: 2.5rem;
}
h3, h4 {
  font-weight: 600;
  font-family: $baseFont;
}

h3 {
  font-size: 1.9rem;
  &.small {
    font-size: 1.5rem;
    font-weight: 800;
    line-height: 2rem;
  }
}

h4 {
  font-size: 1.2rem;
}
.light_font {
  font-family: $lightFont;
  font-weight: 200;
}

.link {
  color: $baseColor;
  text-decoration: underline;
}

.small_text {
  font-size: $smallFontSize;
}

.block__heading {
  text-align: center;
  h3 {
    font-family: $mediumFont;
  }
}

.block__subheading {
  text-align: center;
  margin-bottom: 50px;
  * {
    font-weight: 400;
  }
  &.small_marg {
    margin-bottom: 15px;
  }
  &.big_marg {
    margin-top: 60px;
    margin-bottom: 60px;
  }
}

.big_heading {
  padding:  135px 0 0 0;
  background: $baseColor;
  h1 {
    color: $white;
    text-align: left;
    font-weight: 100;
    font-size: 5.4rem;
    font-family: $lightFont;
    text-transform: uppercase;
  }
}

.animate_icon {
  h3 {
    font-size: 1.4rem;
  }
}

.link_decoration_underline {
  text-decoration: underline;
  color: $white !important;
  @include transition();
  &:hover {
    text-decoration: none;
    color: $white;
  }
  &:visited {
    color: $white;
  }
}

.floating_heading {
  margin-top: 40px;
  * {
    color: $baseColorSecondTone;
    font-size: 2.5rem;
    margin-bottom: 0;
    line-height: 0.59;
  }
}

.medium_font {
  font-weight: 600;
}