// colors
$transparent: transparent;
$white: #ffffff;
$baseColor: #eb2027;
$baseTextColor: #5d5d5d;
$buttonBaseBackground: $transparent;
$buttonAltBackground: #ec1a22;



//fonts
$baseFont: 'gotham_pro';
$mediumFont: 'gotham_pro_med';
$boldFont: 'gotham_pro_bold';



//font sizes
$baseFontSize: 16px;
$baseLineHeight: 1.3rem;