// colors
$transparent: transparent;
$white: #ffffff;
$baseColor: #eb2027;
$baseColorSecondTone: #ec1a22;
$baseTextColor: #5d5d5d;
$buttonBaseBackground: $transparent;
$buttonAltBackground: $baseColorSecondTone;
$filedBorderColor: #a8aaad;
$lightGray: #e6e7e8;
$frameColor: $lightGray;


//fonts
$baseFont: 'gotham_pro';
$mediumFont: 'gotham_pro_med';
$boldFont: 'gotham_pro_bold';



//font sizes
$baseFontSize: 16px;
$baseLineHeight: 1.3rem;
$smallFontSize: $baseFontSize / 1.8;



//forms
$baseFieldBorderRadius: 5px;